{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "semi": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react",
    "^@expo/(.*)$",
    "^expo-(.*)$",
    "^@react-navigation/(.*)$",
    "^[a-zA-Z]",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}